In [1]:

import numpy as np
import pandas as pd

In [6]:
from pycaret.regression import *

In [56]:
train_embedding = pd.read_csv('../MachineHackE-Commerce/train_embedding.csv')
train_topic = pd.read_csv('../MachineHackE-Commerce/train_topic.csv')
train_tfidf = pd.read_csv('../MachineHackE-Commerce/train_tfidf.csv')
train_enc = pd.read_csv('../MachineHackE-Commerce/train_enc.csv')

In [57]:
test_embedding = pd.read_csv('../MachineHackE-Commerce/test_embedding.csv')
test_topic = pd.read_csv('../MachineHackE-Commerce/test_topic.csv')
test_tfidf = pd.read_csv('../MachineHackE-Commerce/test_tfidf.csv')
test_enc = pd.read_csv('../MachineHackE-Commerce/test_enc.csv')

In [40]:
train_price = train_enc.Selling_Price

In [70]:
train_enc = train_enc*1 #.74

In [71]:
train_enc.head()

,Product,Product_Brand,Item_Category,Subcategory_1,Subcategory_2,Item_Rating,Selling_Price,Is_Holiday,Year,Month,Week,Day,Dayofweek,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start
0,791,862,8,11,138,4.3,291.0,0,2017,2,5,3,4,0,0,0,0
1,760,670,11,128,330,3.1,897.0,0,2015,7,27,1,2,0,1,0,1
2,1746,280,30,113,102,3.5,792.0,1,2019,1,2,12,5,0,0,0,0
3,1214,670,9,38,135,4.0,837.0,0,2014,12,50,12,4,0,0,0,0
4,2104,670,11,81,297,4.3,470.0,0,2013,12,50,12,3,0,0,0,0

In [43]:
# train_embedding['Selling_Price'] = train_enc.Selling_Price #.75

In [44]:
# train_topic['Selling_Price'] = train_enc.Selling_Price #.77

In [45]:
# train_tfidf['Selling_Price'] = train_enc.Selling_Price #.80

In [72]:
# train = pd.concat([train_embedding,train_topic,train_price],axis=1,sort=False) #.74

In [77]:
# train = pd.concat([train_enc,train_embedding,train_topic],axis=1,sort=False) #.72

In [78]:
train = pd.concat([train_enc,train_embedding,train_topic, train_tfidf],axis=1,sort=False) #.72

In [79]:
obj = setup(train, target = "Selling_Price", session_id=123,transform_target=True,normalize = True,
            transformation = True)

Setup Succesfully Completed!

In [80]:
blacklist = ['dt','lar','par','knn','kr','en','lr','llar','tr','ransac','svm','lasso']

In [81]:
compare_models(blacklist =blacklist,sort = 'RMSLE',fold=5)

IntProgress(value=0, description='Processing: ', max=75)

Initiated  . . . . . . . . . . . . . . . . . .             03:28:26
Status     . . . . . . . . . . . . . . . . . .  Fitting Fold 1 of 5
Estimator  . . . . . . . . . . . . . . . . . .   CatBoost Regressor
ETC        . . . . . . . . . . . . . . . . . .      Calculating ETC

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE
0,Random Forest,1.052988e+03,1.879364e+07,4.026642e+03,6.646000e-01,0.7245,0.5221
1,Extreme Gradient Boosting,1.234503e+03,2.333316e+07,4.547902e+03,5.872000e-01,0.7316,0.5368
2,Gradient Boosting Regressor,1.253344e+03,2.352598e+07,4.594222e+03,5.785000e-01,0.7345,0.5438
3,Bayesian Ridge,1.384315e+03,2.859690e+07,5.080721e+03,4.920000e-01,0.7440,0.5986
4,Light Gradient Boosting Machine,1.174689e+03,2.211207e+07,4.434702e+03,6.090000e-01,0.7465,0.5529
5,Extra Trees Regressor,1.052939e+03,2.347976e+07,4.337767e+03,5.346000e-01,0.7555,0.7904
6,Orthogonal Matching Pursuit,1.560180e+03,7.942368e+07,8.133286e+03,-8.940000e-01,0.8024,0.7316
7,AdaBoost Regressor,1.916858e+03,4.947687e+07,6.883526e+03,4.420000e-02,0.9331,0.5818
8,Huber Regressor,1.713617e+03,1.585790e+08,1.133710e+04,-2.025700e+00,0.9586,1.5084
9,Ridge Regression,1.235630e+07,2.617324e+17,2.288063e+08,-6.153224e+09,1.0887,58831.9768

KeyboardInterrupt:

In [62]:
rf = create_model('rf')

            MAE           MSE        RMSE      R2   RMSLE    MAPE
0      651.2493  2.360490e+06   1536.3886  0.9155  0.6245  0.5163
1     2020.1788  1.032218e+08  10159.8146  0.1622  0.8683  0.5338
2     1323.7897  1.894630e+07   4352.7349  0.7389  0.6883  0.4514
3      575.8367  5.005951e+06   2237.3984  0.5072  0.5708  0.4808
4     1034.8884  1.992591e+07   4463.8446  0.7025  0.6778  0.5282
5     1068.7501  1.550993e+07   3938.2645  0.7907  0.6271  0.5546
6     1005.5302  1.209179e+07   3477.3252  0.7221  0.6860  0.5265
7      963.8662  8.515829e+06   2918.1893  0.7901  0.7526  0.4502
8     1063.4569  9.458255e+06   3075.4275  0.5086  0.9152  0.5871
9      607.0185  4.093271e+06   2023.1834  0.8673  0.6016  0.4519
Mean  1031.4565  1.991296e+07   3818.2571  0.6705  0.7012  0.5081
SD     400.3739  2.835776e+07   2309.5169  0.2115  0.1075  0.0451

In [63]:
ridge = create_model('ridge')

            MAE           MSE        RMSE      R2   RMSLE    MAPE
0      740.8981  4.083177e+06   2020.6874  0.8539  0.6566  0.5509
1     1957.8335  1.014604e+08  10072.7547  0.1765  0.8731  0.5697
2     1983.6913  5.047531e+07   7104.5980  0.3045  0.7437  0.5618
3      612.4606  4.693495e+06   2166.4475  0.5379  0.5987  0.5147
4     1188.9931  1.232582e+07   3510.8145  0.8160  0.7102  0.5770
5     1470.2955  2.526071e+07   5026.0031  0.6591  0.6698  0.5894
6     1262.7230  1.334347e+07   3652.8710  0.6934  0.6568  0.5854
7     1228.0197  1.098598e+07   3314.5111  0.7293  0.7394  0.5505
8     1178.3914  1.081105e+07   3288.0156  0.4383  0.9225  0.6467
9      912.5888  8.980399e+06   2996.7313  0.7089  0.6799  0.5521
Mean  1253.5895  2.424198e+07   4315.3434  0.5918  0.7251  0.5698
SD     433.2106  2.879276e+07   2370.6097  0.2116  0.0960  0.0328

In [64]:
ridgbr = create_model('br')

            MAE           MSE        RMSE      R2   RMSLE    MAPE
0      771.6156  4.574637e+06   2138.8400  0.8363  0.6527  0.5454
1     2004.4104  1.044515e+08  10220.1514  0.1522  0.8720  0.5582
2     1810.6387  3.498867e+07   5915.1224  0.5179  0.7418  0.5444
3      611.7707  4.787080e+06   2187.9397  0.5287  0.5980  0.5117
4     1347.3729  2.123046e+07   4607.6521  0.6830  0.7129  0.5719
5     1561.0694  2.988629e+07   5466.8359  0.5967  0.6755  0.5972
6     1304.0765  1.454839e+07   3814.2350  0.6657  0.6541  0.5724
7     1274.5078  1.208171e+07   3475.8752  0.7023  0.7463  0.5443
8     1180.7774  1.086433e+07   3296.1088  0.4355  0.9226  0.6460
9      919.0152  9.455014e+06   3074.9007  0.6936  0.6765  0.5417
Mean  1278.5255  2.468681e+07   4419.7661  0.5812  0.7253  0.5633
SD     416.6072  2.827147e+07   2269.9065  0.1795  0.0963  0.0351

In [65]:
catboost = create_model('catboost')

            MAE           MSE        RMSE      R2   RMSLE    MAPE
0      750.9270  3.962036e+06   1990.4863  0.8582  0.6165  0.4873
1     2062.3092  1.085999e+08  10421.1272  0.1185  0.8933  0.5267
2     1588.7213  3.378009e+07   5812.0645  0.5345  0.7342  0.4583
3      602.7491  5.648438e+06   2376.6444  0.4439  0.5655  0.4642
4     1426.7715  3.759597e+07   6131.5550  0.4387  0.7305  0.5353
5     1553.6271  3.620169e+07   6016.7838  0.5115  0.6978  0.6022
6     1302.8147  1.763148e+07   4198.9862  0.5949  0.6848  0.4957
7     1027.4373  8.975678e+06   2995.9437  0.7788  0.7572  0.4809
8     1151.9758  1.048884e+07   3238.6474  0.4550  0.9321  0.5875
9      717.7601  5.214249e+06   2283.4729  0.8310  0.6159  0.4849
Mean  1218.5093  2.680984e+07   4546.5711  0.5565  0.7228  0.5123
SD     436.0411  3.007925e+07   2477.6051  0.2118  0.1113  0.0473

In [66]:
et = create_model('et')

            MAE           MSE       RMSE      R2   RMSLE    MAPE
0      703.0265  2.672859e+06  1634.8882  0.9043  0.7089  0.5948
1     1873.5137  9.391631e+07  9691.0428  0.2377  0.8695  0.5800
2     1140.3889  9.775735e+06  3126.6172  0.8653  0.7414  0.5904
3      638.2585  4.871460e+06  2207.1384  0.5204  0.6226  0.5864
4      851.0408  7.924928e+06  2815.1249  0.8817  0.6585  0.5162
5      943.5720  7.446130e+06  2728.7598  0.8995  0.6472  0.5930
6     1174.6876  1.305343e+07  3612.9533  0.7001  0.7996  0.6899
7     1227.8828  1.498069e+07  3870.4900  0.6308  0.8577  1.0726
8     1017.4211  7.852709e+06  2802.2685  0.5920  0.8947  0.6329
9      682.4671  4.724853e+06  2173.6727  0.8469  0.6412  0.5232
Mean  1025.2259  1.672191e+07  3466.2956  0.7079  0.7441  0.6379
SD     347.0406  2.597603e+07  2169.4944  0.2062  0.0989  0.1523

In [67]:
tuned_ridge = tune_model('ridge') #useless

            MAE           MSE        RMSE      R2   RMSLE    MAPE
0      736.7277  3.991738e+06   1997.9335  0.8571  0.6574  0.5523
1     1949.8426  1.009600e+08  10047.8876  0.1805  0.8734  0.5722
2     2047.3670  6.008179e+07   7751.2445  0.1721  0.7451  0.5668
3      613.2970  4.684528e+06   2164.3770  0.5388  0.5987  0.5154
4     1158.3492  1.116346e+07   3341.1768  0.8333  0.7103  0.5782
5     1453.5760  2.447098e+07   4946.8155  0.6698  0.6690  0.5882
6     1256.4822  1.316023e+07   3627.7031  0.6976  0.6575  0.5881
7     1221.1397  1.083277e+07   3291.3176  0.7330  0.7387  0.5518
8     1178.0767  1.080802e+07   3287.5556  0.4385  0.9225  0.6469
9      911.6052  8.905688e+06   2984.2399  0.7114  0.6805  0.5540
Mean  1252.6463  2.490593e+07   4344.0251  0.5832  0.7253  0.5714
SD     443.2544  2.974508e+07   2456.6994  0.2348  0.0959  0.0324

In [68]:
tuned_ridge_br = tune_model('br') #useit

            MAE           MSE        RMSE      R2   RMSLE    MAPE
0      772.2506  4.580227e+06   2140.1465  0.8361  0.6526  0.5454
1     2004.8990  1.044919e+08  10222.1266  0.1519  0.8718  0.5581
2     1808.7630  3.493518e+07   5910.5991  0.5186  0.7419  0.5441
3      611.5937  4.792401e+06   2189.1553  0.5282  0.5978  0.5114
4     1349.0674  2.136329e+07   4622.0442  0.6810  0.7130  0.5720
5     1562.0001  2.995638e+07   5473.2423  0.5957  0.6755  0.5974
6     1305.0640  1.457566e+07   3817.8088  0.6651  0.6542  0.5723
7     1275.0615  1.209479e+07   3477.7570  0.7019  0.7465  0.5444
8     1180.9341  1.086598e+07   3296.3591  0.4354  0.9226  0.6462
9      918.9681  9.456519e+06   3075.1453  0.6935  0.6765  0.5415
Mean  1278.8602  2.471123e+07   4422.4384  0.5808  0.7252  0.5633
SD     416.5018  2.827812e+07   2270.0815  0.1794  0.0963  0.0353

In [69]:
tuned_rf = tune_model('rf') #useless

IntProgress(value=0, description='Processing: ', max=16)

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,15:59:04
Status,. . . . . . . . . . . . . . . . . .,Fitting Meta Model Fold 10 of 10
ETC,. . . . . . . . . . . . . . . . . .,0.0 Seconds Remaining

Empty DataFrame
Columns: [MAE, MSE, RMSE, R2, RMSLE, MAPE]
Index: []

KeyboardInterrupt:

In [ ]:
tuned_catboost = tune_model('catboost') #useless

In [70]:
tuned_et = tune_model('et') #usefull

            MAE           MSE        RMSE      R2   RMSLE    MAPE
0      604.2655  2.061237e+06   1435.7009  0.9262  0.6110  0.4745
1     2007.4376  1.023886e+08  10118.7251  0.1689  0.8654  0.5279
2     1359.7834  2.221708e+07   4713.5000  0.6939  0.6821  0.4672
3      539.9968  4.196152e+06   2048.4510  0.5869  0.5444  0.4631
4     1023.9440  1.833406e+07   4281.8293  0.7263  0.6682  0.4934
5     1080.9093  1.488263e+07   3857.8010  0.7992  0.6353  0.5458
6     1002.5895  1.120675e+07   3347.6482  0.7425  0.6735  0.5321
7      938.5363  8.116257e+06   2848.9045  0.8000  0.7331  0.4634
8     1056.4171  9.360167e+06   3059.4390  0.5137  0.8760  0.5647
9      615.5089  4.312245e+06   2076.5945  0.8602  0.6104  0.4638
Mean  1022.9388  1.970752e+07   3778.8594  0.6818  0.6899  0.4996
SD     408.5636  2.823176e+07   2329.7510  0.2063  0.1024  0.0372

In [71]:
blend_specific1 = blend_models(estimator_list = [ridge,rf,catboost,tuned_et,tuned_ridge_br] ,fold =5)

            MAE           MSE       RMSE      R2   RMSLE    MAPE
0     1300.7390  5.321918e+07  7295.1476  0.2983  0.7522  0.5039
1     1093.0839  1.689907e+07  4110.8473  0.6027  0.6427  0.4761
2     1385.7092  3.041079e+07  5514.5980  0.5700  0.6802  0.5571
3     1150.6944  1.147606e+07  3387.6333  0.7265  0.7006  0.4928
4      911.0354  7.643752e+06  2764.7336  0.6942  0.7907  0.5381
Mean  1168.2524  2.392977e+07  4614.5920  0.5783  0.7133  0.5136
SD     165.5049  1.655073e+07  1623.3639  0.1513  0.0524  0.0297

In [72]:
blend_specific2 = blend_models(estimator_list = [ridge,rf,catboost] ,fold =5)

            MAE           MSE       RMSE      R2   RMSLE    MAPE
0     1318.3104  5.339516e+07  7307.1991  0.2959  0.7556  0.5086
1     1102.3196  1.724753e+07  4153.0152  0.5945  0.6463  0.4739
2     1414.8328  3.222475e+07  5676.6844  0.5443  0.6861  0.5625
3     1130.9881  1.148446e+07  3388.8729  0.7263  0.7047  0.4848
4      913.0610  7.575601e+06  2752.3810  0.6969  0.7934  0.5372
Mean  1175.9024  2.438550e+07  4655.6305  0.5716  0.7172  0.5134
SD     175.4338  1.675097e+07  1646.3914  0.1529  0.0518  0.0328

In [73]:
blend_specific3 = blend_models(estimator_list = [rf,catboost,tuned_et,tuned_ridge_br] ,fold =5)

            MAE           MSE       RMSE      R2   RMSLE    MAPE
0     1316.3526  5.350039e+07  7314.3960  0.2945  0.7519  0.5016
1     1088.1435  1.703360e+07  4127.1786  0.5995  0.6416  0.4686
2     1361.3539  3.085332e+07  5554.5767  0.5637  0.6798  0.5527
3     1101.2352  1.108410e+07  3329.2795  0.7358  0.7037  0.4829
4      895.4639  7.423356e+06  2724.5836  0.7030  0.7866  0.5303
Mean  1152.5098  2.397895e+07  4610.0029  0.5793  0.7127  0.5072
SD     169.2956  1.677722e+07  1651.3109  0.1559  0.0514  0.0307

In [74]:
blend_specific4 = blend_models(estimator_list = [rf,catboost,tuned_et] ,fold =5)

            MAE           MSE       RMSE      R2   RMSLE    MAPE
0     1340.4675  5.389054e+07  7341.0177  0.2894  0.7552  0.5030
1     1057.0157  1.651980e+07  4064.4563  0.6116  0.6418  0.4612
2     1319.5911  3.060724e+07  5532.3807  0.5672  0.6795  0.5494
3     1040.9436  1.054140e+07  3246.7521  0.7487  0.7133  0.4753
4      865.3459  7.041994e+06  2653.6755  0.7182  0.7834  0.5220
Mean  1124.6727  2.372020e+07  4567.6565  0.5870  0.7147  0.5021
SD     180.7755  1.709602e+07  1690.1803  0.1631  0.0508  0.0317

In [92]:
evaluate_model(et)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [75]:
stack_1 = stack_models([rf,tuned_et,ridge], meta_model = rf)

            MAE           MSE       RMSE      R2   RMSLE    MAPE
0      571.0919  1.667148e+06  1291.1809  0.9403  0.5943  0.4631
1     1788.7369  9.230398e+07  9607.4961  0.2508  0.8688  0.5135
2     1118.0150  1.066008e+07  3264.9772  0.8531  0.6828  0.4598
3      473.4243  2.464676e+06  1569.9286  0.7574  0.5259  0.4210
4      864.4720  6.236531e+06  2497.3048  0.9069  0.6506  0.4883
5      772.0533  5.933363e+06  2435.8495  0.9199  0.6329  0.5440
6     1047.0753  1.302197e+07  3608.5970  0.7008  0.7090  0.5149
7      943.3162  8.017070e+06  2831.4431  0.8024  0.7480  0.4638
8     1088.2021  9.903086e+06  3146.9169  0.4855  0.9175  0.6552
9      663.6257  6.275078e+06  2505.0106  0.7966  0.6332  0.4966
Mean   933.0013  1.564830e+07  3275.8705  0.7414  0.6963  0.5020
SD     353.4223  2.576668e+07  2217.4244  0.2064  0.1146  0.0609

In [76]:
stack_2 = stack_models([rf,catboost,ridge], meta_model = tuned_et)

            MAE           MSE       RMSE      R2   RMSLE    MAPE
0      586.3433  1.928244e+06  1388.6121  0.9310  0.5935  0.4703
1     1909.2250  9.666294e+07  9831.7315  0.2154  0.8491  0.5025
2     1199.0748  1.428870e+07  3780.0401  0.8031  0.6741  0.4516
3      480.9035  2.792889e+06  1671.1939  0.7251  0.5247  0.4214
4     1077.6383  2.174265e+07  4662.9017  0.6754  0.6560  0.4967
5     1033.6747  1.290459e+07  3592.2954  0.8258  0.6412  0.5751
6      965.8029  1.162651e+07  3409.7662  0.7328  0.6716  0.4924
7      912.9650  7.919342e+06  2814.1326  0.8048  0.7425  0.4412
8     1053.0117  9.470903e+06  3077.4833  0.5079  0.9141  0.5658
9      592.6156  4.112370e+06  2027.8980  0.8667  0.5966  0.4476
Mean   981.1255  1.834491e+07  3625.6055  0.7088  0.6863  0.4865
SD     385.7473  2.671671e+07  2280.3287  0.1980  0.1130  0.0488

In [ ]:
# stack_3 = stack_models([rf,tuned_et,catboost], meta_model = rf)

In [ ]:
stack_4 = stack_models([rf,tuned_et,ridge,catboost], meta_model = rf)

In [ ]:
# stack_4 = stack_models([rf,tuned_et,ridge,catboost], meta_model = catboost)

In [ ]:
# stacknet1 = create_stacknet(estimator_list =[[rf,tuned_et,tuned_ridge_br],[ridge,catboost,tuned_et]])

In [77]:
final = finalize_model(stack_2)

In [78]:
final2 = finalize_model(blend_specific1)

In [79]:
new_prediction = predict_model(final, data=test, round = 0)
new_prediction.head()

,Product,Product_Brand,Item_Category,Subcategory_1,Subcategory_2,Item_Rating,HolidayGrace,Year,Month,Week,...,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed,Label
0,11284,2984,computers,network components,routers,4.3,1,2018,1,2,...,4,12,False,False,False,False,False,False,1515715200,2359.0
1,6580,1732,jewellery,bangles bracelets armlets,bracelets,3.0,0,2012,12,51,...,3,355,False,False,False,False,False,False,1355961600,353.0
2,5843,3078,clothing,women s clothing,western wear,1.5,1,2014,1,2,...,6,12,False,False,False,False,False,False,1389484800,820.0
3,5334,1421,jewellery,necklaces chains,necklaces,3.9,1,2019,1,2,...,5,12,False,False,False,False,False,False,1547251200,361.0
4,5586,3078,clothing,women s clothing,western wear,1.4,1,2017,1,2,...,3,12,False,False,False,False,False,False,1484179200,815.0

In [80]:
new_prediction2 = predict_model(final2, data=test, round = 0)
new_prediction2.head()

,Product,Product_Brand,Item_Category,Subcategory_1,Subcategory_2,Item_Rating,HolidayGrace,Year,Month,Week,...,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed,Label
0,11284,2984,computers,network components,routers,4.3,1,2018,1,2,...,4,12,False,False,False,False,False,False,1515715200,2331.0
1,6580,1732,jewellery,bangles bracelets armlets,bracelets,3.0,0,2012,12,51,...,3,355,False,False,False,False,False,False,1355961600,378.0
2,5843,3078,clothing,women s clothing,western wear,1.5,1,2014,1,2,...,6,12,False,False,False,False,False,False,1389484800,712.0
3,5334,1421,jewellery,necklaces chains,necklaces,3.9,1,2019,1,2,...,5,12,False,False,False,False,False,False,1547251200,348.0
4,5586,3078,clothing,women s clothing,western wear,1.4,1,2017,1,2,...,3,12,False,False,False,False,False,False,1484179200,721.0

In [81]:
sub = pd.read_excel('../MachineHackE-Commerce/Sample_Submission.xlsx')

In [84]:
sub['Price'] = (new_prediction2['Label'])

In [85]:
sub.to_excel('casualpycaret4.xlsx')